<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boas Vindas</title>
    <style>
      .container {
        width: 600px;
        aspect-ratio: 1/1;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #f2f3f3;
      }

      .titulo {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: #154962;
      }

      .paragrafo {
        font-size: 1.25rem;
        font-weight: 500;
        color: 263238;
      }
    </style>
  </head>
  <body>
    <script id="boasVindas-template" type="text/x-handlebars-template">
      <div class="container">
        <h2 class="titulo">Olá, {{name}}</h2>
        <p class="paragrafo" class="">Ficamos felizes que você se juntou a nós.
          Sinta-se livre para navegar por nosso site e comprar produtos que o
          seu pet necessita pelo preço mais acessível do Brasil</p>
      </div>
    </script>
  </body>
</html>
